@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar { scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
/* Rotate only the first image inside the OUR WORK slider */

  
  